<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
    <script src="dic.js"></script>
    <link rel="stylesheet" href="dic1.css">
  </head>
  <body ng-controller="TodoCtrl">
      <div style="background:red"><header>dictionary</header></div>
       <div style="float:left;border:solid black;height:350px;background:cyan"><input type=search ng-model="q">
            
            <div>
              
    <li ng-repeat="fruit in fruits | filter:q"  ng-click="ok(fruit.name, fruit.des)">
        {{fruit.name}}
    </li>
            </div>
        
       </div>
                    
<div style="float:left;border:solid black;height:350px;width:600px;background:yellow;" >
            
            <h1 style="margin:0px;padding:0px;color:red;">&nbsp;Description:-</h1><br>
            
    <label><h2>{{ans}}</h2></label>
<marquee behavior="alternate" vspace="200px">My Dictionary</marquee>
               
    </div>
    
      <div>
    <input type="text" ng-model="t1" placeholder="Items" name="txt1";>
          <input type="text" ng-model="t2" placeholder="Description" name="txt2";>
          <button ng-click="r()">Add items.</button>
          <button  ng-click="arr()">save</button>
      </div>
       
  </body>
</html>