.c
{
    float:left;
    border:solid black;
    height:500px;
}
.c1
{
    float:left;
    border:solid red;
    width:600px;
    height:500px;
    
}
.animate-repeat {
  
  list-style:none;
  
    margin: 0px;
    padding:0px;

    
}
h1
{
margin: 0px;
    padding: 0px;

}
.me
{






}